useDynLib(dgirt)
export(shape)
export(dgirt)
export(dgirt_plot)
export(get_item_names)
S3method(as.data.frame, dgirtfit)
exportMethods(poststratify)
exportMethods(extract)
exportMethods(get_item_n)
exportMethods(get_item_names)
exportMethods(get_n)
exportMethods(get_posterior_mean)
exportMethods(show)
exportMethods(summarize)
exportMethods(print)
exportMethods(plot)
exportMethods(summary)
import(data.table)
import(rstan)
import(concatenate)
import(R6)
import(methods)
import(Rcpp)
import(ggplot2)
importFrom("stats", "as.formula", "formula", "model.frame",
    "model.matrix", "na.fail", "na.omit", "quantile", "sd",
    "setNames", "weighted.mean", "weights")
importFrom("utils", "type.convert", "packageVersion")
